@mixin baseComponent() {
    padding-block: 0.8em;
    padding-inline: 1.2em;
    margin: 0;

    border-radius: var(--border-radius);
    line-height: 1;
    font-weight: 600;
}

@mixin avatar() {
    border: var(--border-width) solid currentColor;
    border-radius: 100vw;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    &:focus-visible {
        outline: var(--border-width) solid var(--theme-accent);
        outline-offset: 2px;
    }
}
