// ########
@mixin darkTheme {
    --theme-text: hsl(39, 48%, 71%);
    --theme-accent: hsl(39, 68%, 60%);
    --theme-primary: hsl(0, 0%, 4%);
    --theme-secondary: hsl(0, 0%, 10%);
    --theme-error: hsl(0, 57%, 51%);
}

// ########
@mixin lightTheme {
    --theme-text: hsl(0, 0%, 4%);
    --theme-accent: hsl(31.43deg 100% 35.73%);
    --theme-primary: hsl(32deg 60.53% 82.98%);
    --theme-secondary: hsl(0, 0%, 95%);
    --theme-error: hsl(0deg 100% 61.71%);
}
