@use "styles/abstracts" as *;

:global(:root) {
    // Base colors
    @each $name, $color in $colors {
        --color-#{"" + $name}: #{$color};
    }

    @media (prefers-color-scheme: dark) {
        // Text
        --theme-text: var(--color-beige);
        --theme-text-dark: var(--color-beige-dark);
        --theme-text-light: var(--color-beige-light);

        // Elements
        --theme-accent: var(--color-gold);
        --theme-primary: var(--color-black);
        --theme-error: var(--color-red);
    }

    @media (prefers-color-scheme: light) {
        // Text
        --theme-text: var(--color-black);
        --theme-text-dark: var(--color-black-dark);
        --theme-text-light: var(--color-black-light);

        // Elements
        --theme-accent: rgb(141, 63, 11); // TODO: find a pallete that actually works
        --theme-primary: var(--color-white);
        --theme-error: var(--color-red);
    }

    --border: $border;
}

:global(.svgStroke) {
    stroke: currentcolor;
    stroke-miterlimit: 10;
    fill: none;
    stroke-linecap: round;
}

:global(.svgFill) {
    fill: currentcolor;
}

:global(*) {
    font-feature-settings:
        "pnum" on,
        "lnum" on;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: $font;
}

:global(html, body) {
    overflow-x: hidden;
    background-color: var(--theme-primary);
    color: var(--theme-text);
}

:global(a) {
    color: inherit;
    text-decoration: none;
}

:global(h1) {
    font-weight: 200;
    font-size: clamp(3rem, 5vw, 6rem);
    text-transform: capitalize;
}

:global(::-webkit-scrollbar) {
    width: 5px;
}

:global(::-webkit-scrollbar-thumb) {
    background: #555;
    border-radius: 10px;
}

:global(::-webkit-scrollbar-track) {
    background: #222;
    border-radius: 10px;
}
