@use "src/styles/vars" as *;

.main {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  background: transparent;
  background: linear-gradient(
    0deg,
    rgba($primary, 1) 0%,
    rgba($primary, 1) 30%,
    rgba($primary, 0) 90%,
    rgba($primary, 0) 100%
  );

  & svg {
    height: 8vh;
    padding: 10px;
    transform: scale(1);
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;

      & > * {
        stroke: $accent;
      }
    }

    &:active {
      transform: scale(0.95);
    }

    > * {
      transform-origin: center;
      stroke-width: 1px;
      stroke: $text;
      fill: none;
    }
  }
}
